* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  padding: 30px;
  text-align: center;
  background: #4d57e2;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

main {
  margin: 2rem auto;
  width: 95%;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

/*** Search Form ***/

.card {
  width: 90%;
}

/* Search By City */
h3.card-header.text-uppercase {
  padding: 20px;
}

form#search-form {
  padding: 20px;
  text-align: center;
}

/* "City" */
label.form-label {
  font-size: 18px;
  font-weight: 500;
}

input#city {
  border-radius: 12px;
  border: solid 4px #8989ff;
  padding: 2px;
}

.btn {
  border: none;
  border-radius: 12px;
  font-size: 16px;
  background-color: #4d57e2;
  color: white;
  font-weight: 500;
  margin-top: .25rem;
  padding: .25rem;
}

.btn:hover {
  background-color: #8989ff;
  box-shadow: 2px 2px #000;
}

/* Weather Container */
.col-12.col-md-8 {
  padding: 20px;
  border: solid 3px #4d57e2;
  width: 80%;
}

h2.subtitle {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

h4.card-title {
  padding: 1rem;
}

.card#weather-card {
  width: 250px;
  height: 250px;
}

/* Flex Content */
.flex-row {
  display: flex;
}
