* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  padding: 30px;
  text-align: center;
  background: #4d57e2;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

main {
  margin: 5px auto;
  width: 95%;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

/*** Search Form ***/

.card {
  max-width: 60%;
}

/* Search By City */
h3.card-header.text-uppercase {
  padding: 10px;
}

form#city-form {
  padding: 10px;
}

/* "City" */
label.form-label {
  font-size: 18px;
  font-weight: 500;
}

input#city {
  border-radius: 12px;
  border: solid 2px #262953b0;
  padding: 2px;
}

.btn {
  border: none;
  border-radius: 12px;
  font-style: 18px;
  padding: 6px;
  background-color: #4d57e2;
  color: white;
  font-weight: 500;
}

.btn:hover {
  background-color: #8989ff;
  box-shadow: 2px 2px #000;
}

/* Weather Container */
.col-12.col-md-8 {
  padding: 50px;
}

h2.subtitle {
  font-size: 30px;
  font-weight: 600;
}

/* Flex Content */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-stretch {
  align-items: stretch;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}
